MUSIC_DIR = "path_to_your_music_dir"
MUSIC_CHUNKS_DIR = "./music_chunks"
TRAIN_CHECKPOINT_DIR = "./checkpoints"
VECTOR_DB_DIR = "./chroma_db"
VECTOR_DB_COLLECTION_NAME = "music_10_epochs"
INFERENCE_MODEL_CHECKPOINT_NAME = "checkpoint_10.pt"
DEVICE = "auto"